body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geist Mono, monospace;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  max-width: 35rem;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 20px;
  font-size: 20px;
}
main h1 {
  text-align: center;
  margin: 20px;
}
main label {
  display: block;
  margin-bottom: 10px;
}
main input {
  margin-bottom: 10px;
  width: 93%;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: rgb(57, 180, 57);
  border-radius: 10px;
  margin: 5px auto;
}
button:hover {
  background-color: rgb(15, 142, 15);
  cursor: pointer;
}
